<app-modal [receivedModalId]="resetPasswordModalId" [formGroup]="this.resetPasswordForm" (save)="resetPasswordEvent()" (cancel)="cancelEvent()">
    <form *ngIf="!this.receivedQuestions; else completeForm" [formGroup]="this.resetPasswordForm" class="reset-password-form">
        <label for="reset-password-email" class="reset-password-label">Email</label>
        <input 
            id="reset-password-email" 
            class="new-password-email" 
            type="email" 
            formControlName="email" 
            placeholder="Please enter your email" 
            (keydown.enter)="resetPasswordEvent()"
            [ngClass]="(this.resetPasswordForm.get('email')?.touched && this.resetPasswordForm.get('email')?.errors)  || this.backendErrors.email ? 'error-input' : ''">
        <div class="form-errors" *ngIf="this.resetPasswordForm.get('email')?.touched && this.resetPasswordForm.get('email')?.errors  || this.backendErrors.email">
            {{this.errors.email}}
        </div>
    </form>
    <ng-template #completeForm>
        <form [formGroup]="this.resetPasswordForm" class="reset-password-form-complete">
            <label for="reset-password-email" class="reset-password-label">Email</label>
            <input 
                id="reset-password-email" 
                class="new-password-email" 
                type="email" 
                formControlName="email" 
                placeholder="Please enter your email">
            <div formGroupName="securityQuestions">
                <label for="reset-password-question-one" class="reset-password-label">Question One</label>
                <input id="reset-password-question-one" class="question-one" type="text" formControlName="securityQuestionOne">
                <label for="reset-password-answer-one" class="reset-password-label">Answer One</label>
                <input 
                    id="reset-password-answer-one" 
                    class="new-password-answer-one" 
                    type="text" 
                    formControlName="securityAnswerOne" 
                    placeholder="Answer One"
                    [ngClass]="(this.resetPasswordForm.get('securityQuestions.securityAnswerOne')?.touched && 
                    this.resetPasswordForm.get('securityQuestions.securityAnswerOne')?.errors) || this.backendErrors.answerOne ? 'error-input' : ''"
                    (blur)="checkIfUpdating('securityQuestions.securityAnswerOne')">
                <div 
                    class="form-errors" 
                    *ngIf="this.resetPasswordForm.get('securityQuestions.securityAnswerOne')?.touched && 
                    this.resetPasswordForm.get('securityQuestions.securityAnswerOne')?.errors || this.backendErrors.answerOne">
                    {{this.errors.answerOne}}
                </div>
                <label for="reset-password-question-two" class="reset-password-label">Question Two</label>
                <input id="reset-password-question-two" class="question-two" type="text" formControlName="securityQuestionTwo">
                <label for="reset-password-answer-two" class="reset-password-label">Answer Two</label>
                <input 
                    id="reset-password-answer-two" 
                    class="new-password-answer-two" 
                    type="text"
                    formControlName="securityAnswerTwo" 
                    placeholder="Answer Two"
                    [ngClass]="(this.resetPasswordForm.get('securityQuestions.securityAnswerTwo')?.touched && 
                    this.resetPasswordForm.get('securityQuestions.securityAnswerTwo')?.errors) || this.backendErrors.answerTwo ? 'error-input' : ''"
                    (blur)="checkIfUpdating('securityQuestions.securityAnswerTwo')">
                <div 
                    class="form-errors" 
                    *ngIf="this.resetPasswordForm.get('securityQuestions.securityAnswerTwo')?.touched && 
                    this.resetPasswordForm.get('securityQuestions.securityAnswerTwo')?.errors || this.backendErrors.answerTwo">
                    {{this.errors.answerTwo}}
                </div>
            </div>
            <label for="reset-password-password" class="reset-password-label">Enter a New Password</label>
            <input 
                id="reset-password-password" 
                class="new-password-password" 
                type="password" 
                formControlName="password" 
                placeholder="*********" 
                [ngClass]="this.resetPasswordForm.get('password')?.touched && this.resetPasswordForm.get('password')?.errors ? 'error-input' : ''">
            <div class="form-errors" *ngIf="this.resetPasswordForm.get('password')?.touched && this.resetPasswordForm.get('password')?.errors">
                Password must be at least 6 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character.
            </div>
        </form>
    </ng-template>
</app-modal>
