.new-password-answer-one {
    border: solid 1px black;
    line-height: 18px;
    width: 78%;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

.new-password-answer-two {
    border: solid 1px black;
    line-height: 18px;
    width: 78%;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

.new-password-email {
    border: solid 1px black;
    line-height: 18px;
    width: 78%;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

.new-password-email:disabled {
    color: black;
    background: gainsboro;
}

.reset-password-form {
    height: auto;
}

.reset-password-label {
    width: 20%;
    display: inline-block;
}

.new-password-password {
    border: solid 1px black;
    line-height: 18px;
    width: 78%;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

.question-one {
    width: 78%;
    border: solid 1px black;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

.question-one:disabled {
    color: black;
    background: gainsboro;
}

.question-two {
    width: 78%;;
    border: solid 1px black;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

.question-two:disabled {
    color: black;
    background: gainsboro;
}